<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="baseAddress" value="http://+:9000" />
      <add key="timeout" value="60000" />
    </appSettings>
</configuration>